<div class="container h-100" style="padding-top: 5%; padding-bottom: 5%;">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card text-center">
        <div class="card-header">
          Lou Joseau
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center" style="padding: 10px;">
            <img src="<%= asset_path 'lj2-remove.png' %>" alt="Logo de Lou Joseau" class="card-img-top logo-size">
          </div>
          <br>
          <h5 class="card-title">Avocate au Barreau d’AMIENS</h5>
          <p class="card-text">Droit Pénal et Droit Civil</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">52 rue Victor Hugo</li>
            <li class="list-group-item">80000 Amiens</li>
            <li class="list-group-item">06 69 91 87 44</li>
            <li class="list-group-item">lou.joseau@gmail.com</li>
          </ul>
          <a href="mailto:lou.joseau@gmail.com" class="btn btn-outline-primary mt-3 btn-contact">Contactez-moi</a>
        </div>
        <div class="card-footer text-muted">
          <a href="https://www.linkedin.com/in/lou-joseau-53b0231a3/?originalSubdomain=fr" target="_blank" class="text-muted">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
